<div id="nht-errors"></div>
<div class="index-shipper modal-dialog">
  <div class="modal-content">
    <div class="index-shipper-header base-color">
      <div class="back">
        <button type="button" class="btn-back reload-data">
          <i class="fa fa-arrow-circle-left icon" aria-hidden="true"></i>
        </button>
      </div>

      <div class="invoice-name">
        <%= t "invoices._name_invoice" %>: <%= @invoice.name %>
      </div>
      <%= link_to "#", data: {dismiss: "modal"}, class: "close" do %>
        <i><%= image_tag "cut.png" %></i>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="panel panel-default">
      <table class="table table-condensed">
        <thead>
          <tr class="hatd-shippers-table-title">
            <td ><strong><%= t "users.table.avatar" %></strong></td>
            <td ><strong><%= t "users.table.name" %></strong></td>
            <td ><strong><%= t "users.table.rate" %></strong></td>
            <td class="hatd-td"><strong><%= t "users.table.accept" %></strong></td>
          </tr>
        </thead>
      </table>
      <div class="div-table-content">
        <table class="table table-condensed">
          <tbody class="index-shipper-table-body" id="hatd-shipper-table-content">
            <%= render "shop/list_shippers/list_shippers_content" %>
          </tbody>
        </table>
      </div>
    <div class="clearfix"></div>
  </div>
</div>
